<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/home']"><img src="assets/img/logo.png" alt="Logo" title="Logo"
                    width="70px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<footer class="btn-dark p-4 mt-4">
    <div class="footer d-flex flex-wrap flex-md-nowrap">
        <div class="logo__footer">
            <a class="navbar-brand" [routerLink]="['/home']"><img src="assets/img/logo.png" alt="Logo" title="Logo"
                    width="130px"></a>
        </div>
        <div class="location">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quod ullam sunt ut ipsa soluta quam
                commodi, rem voluptatem, iste exercitationem amet sequi nisi ab voluptates adipisci. Non, pariatur quos!
            </p>
        </div>
        <div class="maps">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quod ullam sunt ut ipsa soluta quam
                commodi, rem voluptatem, iste exercitationem amet sequi nisi ab voluptates adipisci. Non, pariatur quos!
            </p>
        </div>
    </div>
</footer>